* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}
body {
    background-color: hsl(68.57deg 53.85% 97.45%);
    height: 100%;
    font-family: "Cairo", sans-serif;
}

p {
    color: hsl(162.77deg 100% 39.61%);
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Extra Small */
@media (min-width: 576px) {
    .container {
        width: 545px;
    }
    section[id]:not(:first-of-type)::before {
        font-size: 6rem;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 735px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* END GLOBAL */

/* <HEADER> */
header {
    margin: auto;
    background-color: #ddffedee;
    position: sticky;
    top: 0;
    z-index: 50;
}

header .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
header .container a img {
    width: 100px;
}

header .container .links {
    position: relative;
}
/* ---------------------------------------------------- */
/* START icon */
header .container .links .myicon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .container .links .myicon span {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
}

header .container .links .myicon span:nth-child(2) {
    width: 60%;
    transition-duration: 0.3s;
    transition-property: width;
}

header .container .links:hover span:nth-child(2) {
    width: 100%;
}

/* list arrow */
header .container .myicon::before {
    content: "";
    border: 20px solid transparent;
    border-bottom-color: black;
    position: absolute;
    bottom: -17px;
    right: -5px;
    display: none;
}

header .container .links:hover .myicon::before {
    display: block;
}
/* END icon */

/* START links */
header .container .links ol {
    opacity: 0;
    width: 100vw;
    padding: 15px;
    margin: 0;
    list-style: none;
    position: absolute;
    right: -15px;
    top: calc(100% + 17px);
    background-color: black;
    z-index: 2000;
    display: none;
    height: calc(100vh - 60px);
    overflow: auto;
    scroll-behavior: smooth;
}
/* list width adjustment */
/* Extra Small */
@media (min-width: 576px) {
    header .container .links ol {
        width: 250px;
        height: fit-content;
    }
}

/* Small */
@media (min-width: 768px) {
    header .container .links ol {
        width: 250px;
        height: fit-content;
    }
}

/* Medium */
@media (min-width: 992px) {
    header .container .links ol {
        width: 300px;
        height: fit-content;
    }
}

/* Large */
@media (min-width: 1200px) {
    header .container .links ol {
        width: 300px;
        height: fit-content;
    }
}
/* . */

/* list height adjustment */
@media (max-height: 640px) {
    header .container .links ol {
        height: calc(100vh - 64px);
    }
}
/* . */

header .container .links ol ul {
    padding: inherit;
    margin: inherit;
    list-style: inherit;
    font-size: medium;
}

header .container .links ol ul h4 {
    color: rgba(240, 240, 240, 0.3);
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}

header .container .links ol ul li {
    padding: 3px 0;
}

header .container .links ol ul li:hover a {
    margin-left: 20px;
}

header .container .links ol ul li a {
    text-decoration: none;
    font-size: x-large;
    color: #f0f0f0;
    transition-duration: 0.3s;
    transition-property: margin, color;
}
/* links adjustmens */
/* All screens */
@media (min-width: 576px) {
    header .container .links ol ul li {
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
}
/* . */

header .container .links ol ul li a:hover {
    color: var(--sub-main-color, turquoise);
}

header .container .links:hover ol {
    opacity: 0.9;
    display: flex;
    gap: 15px;
    flex-flow: column nowrap;
}

header .container nav a {
    text-decoration: none;
    font-size: 1.2rem;
}

header .container nav.anchor a {
    margin-right: 15px;
    color: black;
    position: relative;
}

header .container nav.anchor a:not(:first-of-type)::before {
    content: "|";
    position: absolute;
    left: -10px;
    top: -1px;
    color: #095;
}

header .container nav.anchor a:hover {
    color: #095;
}

header .container nav a:not(nav.anchor a) {
    margin-left: 10px;
}
header .container nav.account a {
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: aquamarine;
}

header .container nav.account a {
    color: black;
}

header .container nav.account a:hover {
    color: #095;
}

@media (max-width: 991px) {
    header .container nav {
        display: none;
    }
}

@media (min-width: 992px) {
    header .container .links {
        display: none;
    }
}

/* END links */
/* --------------------------------------- */
/* </HEADER> */


.page-1 {
    text-align: center;
    margin: 10rem;
    height: 30%;
}
.head {
    color: hsl(197.47deg 95.18% 16.27%);
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 500;
}

.text {
    color: hsl(198.08deg 72.28% 19.8%);
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 100;
    line-height: 3rem;
}
.img {
    width: 100%;
}

button {
    color: white;
    background-color: hsl(209.3deg 46.24% 18.24%);
    padding: 1.5rem;
    border-radius: 9999px;
    border: none;
    text-transform: capitalize;
    width: 225px;
    margin-left: 0.7rem;
    margin-bottom: 4rem;
    cursor: pointer;
}
button:hover {
    background-color: hsl(190.56deg 100% 21.18%);
    transition: 0.5s ease;
}

.page-2 {
    width: 100%;
    height: 70%;
    display: flex;
    background-color: hsl(70deg 35.29% 93.33%);
}
.part-1 {
    width: 100%;
    height: 100%;
    padding: 16rem 4rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.part-2 {
    padding: 10rem 0;
    padding-left: 15rem;
    height: 100%;
}
.button {
    color: hsl(197.47deg 95.18% 16.27%);
    border: 2px solid hsl(162.77deg 100% 39.61%);
    background-color: hsl(70deg 35.29% 93.33%);
    transition: 0.3s ease;
    cursor: pointer;
    width: 145px;
}
.button:hover {
    color: white;
    background-color: hsl(162.77deg 100% 39.61%);
}

.span-1 {
    color: hsl(197.47deg 95.18% 16.27%);
    font-size: 4rem;
    line-height: 5rem;
}
.span-2 {
    color: hsl(197.47deg 95.18% 16.27%);
    font-size: 2rem;
    word-spacing: 0.5rem;
    line-height: 3rem;
    font-weight: 100;
    margin-bottom: 3rem;
}
.title {
    font-size: 2rem;
}
.text-title {
    color: hsl(190deg 11.43% 58.82%);
    font-size: 1.5rem;
    font-weight: 700;
}
@media (max-width: 767px) {
    .page-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .part-1 {
        position: static;
        padding: 10px;
        display: flex;
    }
    .part-2 {
        padding: 10px;
    }
    .center {
        display: flex;
        justify-content: center;
    }
}

/*--------------------------- Footer ---------------------------*/

footer {
    font-family: "Merriweather", Helvetica, sans-serif;
    background-color: #014351;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 15px 0px 15px;
    width: 100%;
    font-family: sans-serif;
    padding-bottom: 10px;
}

footer a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px 0;
    margin: 0 10px 0 10px;
}

.rowf-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 4px;
}

footer div a {
    color: white !important;
}
.contact-usf {
    background-color: hsl(161.08deg 100% 39.8%);
    padding: 10px 16px;
    transition: ease-in 0.3s;
}

.contact-usf:hover {
    background-color: hsl(162.73deg 83.9% 46.27%);
}

.nav-login {
    transition: ease-in 0.3s;
}

.img-logo {
    width: 120px;
    transition: ease-in 0.3s;
}

label.logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    padding: 15px 0px 10px 0;
    font-weight: bold;
}

.nav2f {
    display: flex;
    align-items: center;
}

.rowf-2 {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #275668;
    padding-top: 20px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    text-decoration: none;
    height: 52px;
    border: 1px solid #4e6b77;
    border-radius: 100%;
    transition: ease-in 0.3s;
}

.social-icons a:hover {
    background-color: #4e6b77;
}
.center-text {
    display: none;
}

/*--------------------------- Footer ---------------------------*/

/*------------ Media Query ------------*/

@media (max-width: 767px) {
    .cp1 {
        display: none;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .center-text {
        margin-top: 20px;
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .rowf-2,
    .nav2f a {
        font-size: 16px !important;
    }
    .social-icons a {
        width: 50px;
        height: 50px;
        font-size: 18px;
        border: 1px solid #4e6b77;
        border-radius: 100%;
        padding: 2px;
        margin: 0 0 0 11px;
    }
}

/*------------ Media Query ------------*/
