/* START GLOBAL */
* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #00ff99;
}
/* END GLOBAL */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Extra Small */
@media (min-width: 576px) {
    .container {
        width: 545px;
    }
    section[id]:not(:first-of-type)::before {
        font-size: 6rem;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 735px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* END GLOBAL */

/* <HEADER> */
header {
    margin: auto;
    background-color: #ddffedee;
    position: sticky;
    top: 0;
    z-index: 50;
}

header .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
header .container a img {
    width: 100px;
}

header .container .links {
    position: relative;
}
/* ---------------------------------------------------- */
/* START icon */
header .container .links .myicon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .container .links .myicon span {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
}

header .container .links .myicon span:nth-child(2) {
    width: 60%;
    transition-duration: 0.3s;
    transition-property: width;
}

header .container .links:hover span:nth-child(2) {
    width: 100%;
}

/* list arrow */
header .container .myicon::before {
    content: "";
    border: 20px solid transparent;
    border-bottom-color: black;
    position: absolute;
    bottom: -17px;
    right: -5px;
    display: none;
}

header .container .links:hover .myicon::before {
    display: block;
}
/* END icon */

/* START links */
header .container .links ol {
    opacity: 0;
    width: 100vw;
    padding: 15px;
    margin: 0;
    list-style: none;
    position: absolute;
    right: -15px;
    top: calc(100% + 17px);
    background-color: black;
    z-index: 2000;
    display: none;
    height: calc(100vh - 60px);
    overflow: auto;
    scroll-behavior: smooth;
}
/* list width adjustment */
/* Extra Small */
@media (min-width: 576px) {
    header .container .links ol {
        width: 250px;
        height: fit-content;
    }
}

/* Small */
@media (min-width: 768px) {
    header .container .links ol {
        width: 250px;
        height: fit-content;
    }
}

/* Medium */
@media (min-width: 992px) {
    header .container .links ol {
        width: 300px;
        height: fit-content;
    }
}

/* Large */
@media (min-width: 1200px) {
    header .container .links ol {
        width: 300px;
        height: fit-content;
    }
}
/* . */

/* list height adjustment */
@media (max-height: 640px) {
    header .container .links ol {
        height: calc(100vh - 64px);
    }
}
/* . */

header .container .links ol ul {
    padding: inherit;
    margin: inherit;
    list-style: inherit;
    font-size: medium;
}

header .container .links ol ul h4 {
    color: rgba(240, 240, 240, 0.3);
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}

header .container .links ol ul li {
    padding: 3px 0;
}

header .container .links ol ul li:hover a {
    margin-left: 20px;
}

header .container .links ol ul li a {
    text-decoration: none;
    font-size: x-large;
    color: #f0f0f0;
    transition-duration: 0.3s;
    transition-property: margin, color;
}
/* links adjustmens */
/* All screens */
@media (min-width: 576px) {
    header .container .links ol ul li {
        padding: 10px 0;
        border-bottom: 1px solid black;
    }
}
/* . */

header .container .links ol ul li a:hover {
    color: var(--sub-main-color, turquoise);
}

header .container .links:hover ol {
    opacity: 0.9;
    display: flex;
    gap: 15px;
    flex-flow: column nowrap;
}

header .container nav a {
    text-decoration: none;
    font-size: 1.2rem;
}

header .container nav.anchor a {
    margin-right: 15px;
    color: black;
    position: relative;
}

header .container nav.anchor a:not(:first-of-type)::before {
    content: "|";
    position: absolute;
    left: -13px;
    top: -1px;
    color: #095;
}

header .container nav.anchor a:hover {
    color: #095;
}

header .container nav a:not(nav.anchor a) {
    margin-left: 10px;
}
header .container nav.account a {
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: aquamarine;
}

header .container nav.account a {
    color: black;
}

header .container nav.account a:hover {
    color: #095;
}

@media (max-width: 991px) {
    header .container nav {
        display: none;
    }
}

@media (min-width: 992px) {
    header .container .links {
        display: none;
    }
}

/* END links */
/* --------------------------------------- */
/* </HEADER> */

/* START MAIN */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: max-content;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 20px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}
@media (min-width: 768px) {
    .card {
        width: 45%;
    }
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card .text * {
    padding: 10px 20px;
}

div.button * {
    display: inline-block;
}

button {
    background-color: cadetblue;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fafafa;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
    font-size: 1.1rem;
}

.img {
    width: 100%;
}

.img img {
    width: 100%;
}

img:not(nav .logo img) {
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
}
/* END MAIN */

footer {
    text-align: center;
    background-color: #ddffed;
    margin-top: 50px;
    padding: 20px;
    color: black;
}
